@import "tailwindcss";

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@theme {
  --color-primary: #FBFBFB;
  --color-secondary: #30384b;
  --color-secondary-dark: #232836;
  --color-details: #D9D9D9;
  --color-details-white: #efefef;
}